{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Детальная информация!{% endblock title %}


{% block content %}
<div class="items container">
    <div class="item">
        <div class="item-headline">
            <h2>Отзывы на мои объявления<a name="ads"></a></h2>
        </div>
        <div style="text-align: center">
            <!-- Blog item -->
            <div class="blog-item">
                <div class="blog-text text-box text-white">
                    <h4>Комментарий к объявлению "{{ comment.post.title }}"</h4>
                    <h4>Оставил пользователь {{ comment.user }}</h4>
                    <p style="color:#fff">{{ comment.comment }}</p>
                    {% if comment.post.user == user_login %}
                    <p></p>
                    {% if not comment.is_accepted %}
                    <a href="{% url 'pokorum:comment-accept' comment.pk %}"
                       class="read-more">Принять <img
                            src="{% static 'pokorum/images/ok.png' %}"
                            alt="#" STYLE="width:15px; height:15px;"/></a>
                    {% endif %}
                    <a href="{% url 'pokorum:delete-comment' comment.pk %}"
                       class="read-more">Отклонить <img src="{% static 'pokorum/images/ok.png' %}"
                                                        alt="#" STYLE="width:15px; height:15px;"/></a>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock content %}