{% extends "layout/base.html" %}
{% load static %}
{% block title %}My Blog{% endblock %}
{% block content %}
<div class="items">
    <div class="item">
        <div class="item-headline">
            <div class="item-category">
                Категория: {{ post.category }}
            </div>
            <div class="item_dataupdate">
                Автор: {{ post.user }} | Дата: {{ post.published_date|date:'d-m-Y' }}
            </div>
        </div>
        <div class="item-block">
            {% if post.picture %}
            <div class="item-img">
                <img src="{{ post.picture.url }}" alt="xxx">
            </div>
            {% endif %}
            <div class="item-content">
                <a href="{% url 'pokorum:post-detail' post.id %}">
                    <h2>{{ post.title }}</h2>
                </a>
                <p>{{ post.text|linebreaks|truncatewords:50 }}</p>
                <div class="item-footer">
                    <div class="item-info">
                    </div>
                    <div class="item-link">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="items">
    <div class="item">
{% if user.is_authenticated %}
<a href="{% url 'pokorum:create-post' %}" class="item-btn btn">Добавить пост</a>
{% endif %}
   </div>
</div>
<div class="items">
    <div class="item">
        {% if post.user == user_login %}
        <a href="{% url 'pokorum:edit-post' post.pk %}">
            <button class="item-btn btn">Редактировать</button>
        </a>
        <a href="{% url 'pokorum:delete-post' post.pk %}">
            <button class="item-btn btn">Удалить</button>
        </a>
        {% endif %}
        {% if post.user != user_login %}
        <a href="{% url 'pokorum:post-comment' post.pk %}">
            <button class="item-btn btn">Оставить комментарий</button>
        </a>
        {% endif %}
    </div>
</div>
<!-- Newsletter section -->
<!-- Подписаться ??? -->
<div class="items">
    <div class="item">
        <div class="item-footer">
            <div class="item-info">
            </div>
            <div class="item-link">
                <h2>Подписаться на пост</h2>
                <form class="newsletter-form">
                    <input type="text" placeholder="введите ваш e-mail">
                    <button class="item-btn btn">subscribe <img
                            src="{% static 'pokorum/images/ok.png' %}" alt="#"/></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter section end -->
{% endblock content %}